*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
}


.campoLixeira{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;
    padding: 20px;
    margin-left: 300px;
    align-items: center;
    justify-content: center;
    
}
.tabela-arquivos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-top: 30px;
}

.tabela-arquivos th,
.tabela-arquivos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.tabela-arquivos th {
    background-color: #f0f0f0;
}
