nav.menu_lateral {
    width: 300px;
    height: 100%;
    background-color: #202020;
    padding: 20px 0;
    box-shadow: 3px 0 0 rgb(65, 78, 131);
    position: fixed;
    top: 0;
    left: 0;
}

.btn_expandir {
    width: 100%;
    padding-left: 10px;
}

.btn_expandir > i {
    color: #fff;
    font-size: 34px;
    cursor: pointer;
}

ul {
    width: 100%;
    list-style-type: none;
}

ul li.iten_menu {
    padding: 20px 4%;
    transition: 0.2s;
}

ul li.iten_menu:hover {
    background-color: rgb(65, 78, 131);
}

ul li.iten_menu a, 
ul li.iten_menu .logout-link, 
ul li.iten_menu .navbar-links {
    color: #fff !important; /* Força a cor branca nos textos e ícones */
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

ul li.iten_menu .icon > i, 
ul li.iten_menu .logout-link .icon > i {
    font-size: 30px; /* Aumenta o tamanho dos ícones */
    color: #fff !important; /* Força a cor branca nos ícones */
}

ul li.iten_menu .txt-link {
    margin-left: 20px;
}
